/* CSS RESET */
@import 'resets';

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* UNIVERSAL STYLES */
* {
    box-sizing: border-box;
}

body {
    font-family: 'karla', monospace, Arial, Helvetica, sans-serif;
    color: #000;
    margin: 150px auto auto auto;
    background-color: #fafafa;
    font-size: 1em;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* PAGE HEADER */
@import 'header';

/* INDEX PAGE */
@import 'index';

/* RESUME PAGE */
@import 'resume';

/* CONTACT PAGE */
@import 'contact';

/* GALLERY */
@import 'gallery';

/* PAGE FOOTER */
@import 'footer';

/* MEDIA QUERIES */
@import 'mediaqueries';