/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* CSS RESET */
@import 'partials/resets';

/* PAGE HEADER */
@import 'partials/header';

/* INDEX PAGE */
@import 'partials/index';

/* RESUME PAGE */
@import 'partials/resume';

/* CONTACT PAGE */
@import 'partials/contact';

/* GALLERY */
@import 'partials/gallery';

/* PAGE FOOTER */
@import 'partials/footer';

/* MEDIA QUERIES */
@import 'partials/mediaqueries';

/* UNIVERSAL STYLES */
* {
    box-sizing: border-box;
}

body {
    font-family: 'karla', monospace, Arial, Helvetica, sans-serif;
    color: #000;
    margin: auto;
    background-color: #fafafa;
    font-size: 0.7rem;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}