/*basics*/

body {
    font-family: Roboto Mono, monospace, Arial, Helvetica, sans-serif;
    color: #000;
    margin: auto;
}

.front-display, .contact {
    width: 50%;
    margin: auto;
}

/*index*/

.container {
    position: relative;
}

.container-img {
    position: absolute;
    width: 30%;
    top: 250px;
    left: 100px;
}

/*contact*/

.contact {

}